.admin{
    font-size: 13px;
}

.avatar-icon{
  font-size: 40px;
  margin-top: 4px;
}


  .custom-popover .popover-wrapper {
    width: 100%; /* Garantiza que el popover ocupe el tamaño adecuado */
  }
  
  .custom-popover .popover-content {
    padding: 0; /* Reduce el padding si es necesario */
  }

  .icon-container{
    top: 23px;
    position: absolute;
    margin: 3px;
    width: 40px;
    height: 30px;
    font-size: 27px;
  }
  
  
 