.ion-text-center {
  text-align: center;
}
.avatar-icon{
    font-size: 100px;
}

.mobile-menu .menu-item {
  margin-bottom: 30px; /* Ajusta el valor según lo que necesites */
}

.mobile-menu ion-footer {
  margin-top: 35px; /* Espacio adicional entre el contenido del menú y el footer */
}




