.barra-superior{
 display: flex;
  justify-content: flex-end;
  padding: 10px 10px 0 10px;
}

.tabla-container{
  overflow-x: auto;
}

.tabla-miembros{
  width: 100%;
  border-collapse: collapse;
}

.tabla-miembros th{
  background: #f4f4f4;
  font-weight: bold;
}

.tabla-miembros th,
.tabla-miembros td{
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.acciones{
  display: flex;
  gap: 5px;
  justify-content: center;
}

.paginacion{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
}

.card-resumen {
  margin: 4px;
  text-align: center;
}

.card-resumen ion-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 5px 5px;
}

.card-resumen ion-card-title {
  font-size: 3rem; /* Tamaño grande */
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.card-resumen ion-card-content {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  padding-bottom: 15px;
}
